.addPollWrapper {
  width: 680px;
  margin: auto;
  margin-bottom: 100px;
}

h5 {
  color: #fff;
}

.addBtnStyle {
  text-align: center;
  top: 40px;
  color: '#fff';
}

.addBtnIcon {
  color: #fff;
  cursor: pointer;

  &:hover {
    color: rgb(83, 166, 236);
  }
}
