.panelWrapper {
  list-style-type: none;
  background: #292929;
  padding: 0px;
  margin: 0px;
  text-align: center;
  height: 195px;

  li {
    display: inline;
    color: #9b9696;
    font-weight: bold;

    span {
      color: orange;
      font-weight: bold;
      font-size: 1em;
      margin: 28px;
    }
  }
}

.panelProfileWrapper {
  list-style-type: none;
  background: #292929;
  padding: 0px;
  margin: 0px;
  text-align: center;

  li {
    display: inline;
    color: #9b9696;
    font-weight: bold;
    margin-right: 20px;

    span {
      color: orange;
      font-weight: bold;
      font-size: 1em;
      margin: 20px;
    }
  }
}

.progress {
  border-radius: 0;
}

.pollAvatarContainer {
  top: -224px;
  position: relative;
  margin: -49px;
  padding: 0;
  z-index: 1000;
  left: 0px;
  display: block;
}

.panelGroupContainer {
  color: #fff;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 15px;
  display: block;

  .index {
    text-align: left;
    padding-left: 26px;
  }

  .badge {
    font-size: 1.225em;
    left: 16px;
    top: 6px;
    width: 36px;
    padding: 0px 8px 2px 5px;
    z-index: 3000;
    position: relative;

    .questions span {
      color: orange;
    }
  }
}