.voterNumber {
  color: #292929;
  font-size: 5.1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.5;
  font-weight: bolder;
  margin-top: -28px;
  margin-bottom: -45px;
}

.votes {
  font-size: 0.15em;
  color: white;
}